body {
    background-color: aquamarine;
    margin: 0;
    padding:  20px;
}
.logo{
    width: 300px;
    border-radius: 20px;
}
header{
    background-color: aqua;

}
.rodape{
    background-color: brown;
    
}
main{
    
    background-color: bisque;

}
nav{
    background-color: blue;
    float: right;
    height: 200px;

}
.homepage{
    align-content: center;
    align-items: center;
    align-items: center;
    grid: 200px;
    justify-content: space-between, 200px;
}
.login{text-align: end;
       

        }
        button{
            align-items: center;
        }
.artigo{
    text-align: justify;
}
.barra_nav{
    display: flex;
    margin-left: 1200px;
    transform: translateY(-250px);
    justify-content: space-between;
    background-color: brown;
}
